@model IEnumerable<MVCWithLinq1.Models.Student>
@{
    ViewBag.Title = "DisplayStudents";
}

<h2 class="text-center mb-4">Display Student</h2>

<div class="container">
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(S => S.Sid)</th>
                <th>@Html.DisplayNameFor(S => S.Name)</th>
                <th>@Html.DisplayNameFor(S => S.Class)</th>
                <th>@Html.DisplayNameFor(S => S.Fees)</th>
                <th>@Html.DisplayNameFor(S => S.Photo)</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(S => student.Sid)</td>
                    <td>@Html.DisplayFor(S => student.Name)</td>
                    <td>@Html.DisplayFor(S => student.Class)</td>
                    <td>@Html.DisplayFor(S => student.Fees)</td>
                    <td>
                        <img src="@Url.Content("~/Uploads/" + student.Photo)" width="50" height="50" class="img-thumbnail" alt="image not showing" />
                    </td>
                    <td>@Html.ActionLink("View", "DisplayStudent", new { Sid = student.Sid }, new { @class = "btn btn-info btn-sm" })</td>
                    <td>@Html.ActionLink("Edit", "EditStudent", new { Sid = student.Sid }, new { @class = "btn btn-warning btn-sm" })</td>
                    <td>@Html.ActionLink("Delete", "DeleteStudent", new { Sid = student.Sid }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure for deleting?')" })</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="text-center">
                    @Html.ActionLink("Add New Student", "AddStudent", null, new { @class = "btn btn-success" })
                </td>
            </tr>
        </tfoot>
    </table>
</div>
